.not-found {
  font-size: 2rem;
  text-align: center;
}

.not-found__code {
  display: block;
  width: 30%;
  margin: 4rem auto;
  margin-bottom: 0;
  background-color: #f4a301;
  font-size: 3rem;
}

.home {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f4a301;
  text-align: center;
}
